.sidebar {
    float: left;
    width: 500px;
    border-style: ridge;
    background-color: chartreuse;
}
.img {
    float: left;
    background-color: yellow;
    border-style: groove;
}
.members {
    background-color: yellow;
    border-style: groove;
    float: right;
    width: 200px;
}
body {
    background-color: orangered;
}
h1 {
    text-align: center;
    color: black;
    font-style: italic;
    font-family: fantasy;

}
a {
    border-style: double;
    color: black;
}
a:hover {
    background-color: yellow;
    color: black;

}
.column {
    width: 300px;
    float: left;
}
