.sidebar {
    float: left;
    width: 500px;
    border-style: ridge;
    background-color: chartreuse;
}
.img {
    float: left;
    background-color: yellow;
    border-style: groove;
}
.members {
    background-color: red;
    border-style: groove;
    float: right;
    width: 200px;
}
body {
    background-color: burlywood;
}